<h1>マイページ</h1>
<h2>ノート一覧表示</h2>
<p><%= link_to 'ノート新規追加', 'notes/new' %> </p>
<ul>
    <% @notes.each do |t| %>
        <li>
            <strong><%= t.title %></strong>&nbsp;
            (作成日：<%= t.created_at %>)
        </li>
    <% end %>
</ul>
