<h1>マイ教材一覧</h1>
<%= link_to "＋ 新規追加", new_subject_path, class: "btn btn-new" %>

<div class="card">
  <% @subjects.each do |subject| %>
  <h3><%= subject.subject_name %></h3>
  <%= link_to "編集", edit_subject_path(subject) %>
  <%= link_to "削除", subject_path(subject), 
      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>
</div>